.score {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
.player {
	font-weight: bold;
}
.opponent {
	font-size: 0.8em;
	text-align: center;
}

.player-color-W {
	background-color: white;
	color: black;
}

.player-color-B {
	background-color: black;
	color: white;
}