{% extends "base_tournament.html" %}
{% load i18n %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
<h1>{% trans 'Players' %}</h1>
<table>
	<tr>
	  <th>{% trans 'FIDE ID' %}</th>
	  <th>{% trans 'Title' %}</th>
	  <th>{% trans 'Name' %}</th>
	  <th>{% trans 'Country' %}</th>
	  <th>{% trans 'Rating' %}</th>
	</tr>
	{% for player in tournament.players.all %}
	<tr>
	  <td>{{ player.fide_id }}</td>
	  <td>{{ player.fide_title }}</td>
	  <td>{{ player.name }}</td>
	  <td>{{ player.country }}</td>
	  <td>{{ player.rating }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

