{% extends "base_tournament.html" %}
{% load i18n %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}

{% if rounds %}
	{% for round in rounds %}
	<h2>{{ round.name }}, {{ round.round_date }}</h2>
	<table>
	{% for game in games %}
		{% if game.round == round %}
		  <tr>
		    <td>{{ game.player }}</td>
		    <td>{{ game.player_score }} : {{ game.opponent_score }}</td>
		    <td>{{ game.opponent }}</td>
		    <td>{{ game.status|capfirst }}</td>
		  </tr>
		{% endif %}
	{% endfor %}
	</table>
	
	{% endfor %}
{% endif %}

{% endblock %}
