{% extends "base_tournament.html" %}
{% load i18n %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
<h1>{% trans 'Standings' %}</h1>

<table>
	<tr>
		<th>{% trans 'Title' %}</th>
		<th>{% trans 'Name' %}</th>
		<th>{% trans 'Rating' %}</th>
		<th>{% trans 'Country' %}</th>
		{% for round in rounds %}
			<th>{{ round.name }}</th>
		{% endfor %}	  
		<th>{% trans 'Score' %}</th>
	</tr>
{% for row in player_scores %}
	<tr>
		<td>{{ row.player.fide_title }}</td>
		<td class="player">{{ row.player.name }}</td>
		<td>{{ row.player.rating }}</td>
		<td>{{ row.player.country }}</td>
		{% for round in rounds %}
			{% for game in games %}
				{% if game.round == round and game.status != 'planned' %}
				  {% if game.player == row.player %}
				  <td class="player-color-{{ game.player_color }}">
				    <div class="score">{{ game.player_score }}</div>
				    <div class="opponent">{{ game.opponent }}</div>
				  </td>
				  {% endif %}
				  {% if game.opponent == row.player %}
				  <td class="player-color-{{ game.opponent_color }}">
				    <div class="score">{{ game.opponent_score }}</div>
				    <div class="opponent">{{ game.player }}</div>
				  </td>
				  {% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}	  
		<td class="score">{{ row.score }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
