{% extends "base_tournament.html" %}
{% load i18n %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block content %}
<h1>{% trans 'Standings' %}</h1>

{% if rounds %}
<table class="standings-table">
	<tr>
		<th>{% trans 'Rank' %}</th>
		<th>{% trans 'Title' %}</th>
		<th>{% trans 'Name' %}</th>
		<th>{% trans 'Rating' %}</th>
		<th>{% trans 'Country' %}</th>
		{% for round in rounds %}
			<th>{{ round.name }}</th>
		{% endfor %}	  
		<th>{% trans 'Score' %}</th>
	</tr>
{% for row in players_info %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ row.player.fide_title|slice:"2:" }}</td>
		<td class="player">{{ row.player.name }}</td>
		<td>{{ row.player.rating }}</td>
		<td>{{ row.player.country }}</td>
		{% for game in row.games %}
			{% if game.game.player_id == row.player.id %}
			<td class="player-color-{{ game.game.player_color }}">
				{% if game.game.status != 'planned' %}
			  		<div class="score">{{ game.game.player_score }}</div>
			  	{% endif %}
			  <div class="opponent">{{ game.opponent }}</div>
			</td>
			{% endif %}
			{% if game.game.opponent_id == row.player.id %}
			<td class="player-color-{{ game.game.opponent_color }}">
				{% if game.game.status != 'planned' %}
			  		<div class="score">{{ game.game.opponent_score }}</div>
			  	{% endif %}
			  <div class="opponent">{{ game.player }}</div>
			</td>
			{% endif %}
		{% endfor %}	  
		<td class="score">{{ row.score }}</td>
	</tr>
{% endfor %}
</table>
{% else %}
	<h2>{% trans 'No rounds have been setup.' %}</h2>
{% endif %}

{% endblock %}
